@include mq('tablet') {
  header {
    .drawer1 {
      position: absolute;
      top: 25px;
      right: 8%;
      z-index: 100;
      visibility: visible;
      float: right;
      width: 50px;
      height: 50px;
      cursor: pointer;
      
      span{
        position: absolute;
        left: 14px;
        z-index: 100;
        display: inline-block;
        width: 45%;
        height: 3px;
        border-radius: 2px;
        background: $cBlack;
        transition: all .4s;
        &:nth-of-type(1) {
          top: 15px;
        }
        &:nth-of-type(2) {
          top: 23px;
        }
        &:nth-of-type(3) {
          top: 31px;
        }
      }
    }
    .active span{
      &:nth-of-type(1) {
        top: 18px;
        left: 18px;
        width: 30%;
        transform: translateY(6px) rotate(-45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        top: 30px;
        left: 18px;
        width: 30%;
        transform: translateY(-6px) rotate(45deg);
      }
    }
    .header{
      &_top{
        transition: background-color .6s;
      }
      &_inner{
        transition: background-color .6s;
      }
    }
    .navbar {
      // transition: all 0.5s;
      visibility: hidden;
      opacity: 0;
      ul {
        position: relative;
        top: 40vh;
        flex-direction: column;
        li a {
          font-size: 36px;
          line-height: 2;
        }
      }
    }
    
    &.active {
      border-top: none;

      .header {
        &_top{
          width: 100%;
          height: 100vh;
          border-top: unset;
          background-color: $cWhite;
        }
        &_inner {
          width: 100vw;
          height: 100vh;
          background-color: rgba($color: #000000, $alpha: 0.4);
        }
        &_title {
          display: none;
        }
      }
      .navbar {
        visibility: visible;
        opacity: 1;
      }
    }

    
  }
}